<div class="uk-container uk-padding-large back" id="bem-estar">
    <div>
        <h2 style="color: #094268; font-weight: bold;font-size: 30px;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:900" class="uk-text-center">Cuidando do Seu Bem-estar</h2>
        <p style="font-size: 16px;" class="uk-text-center uk-margin-medium-bottom" uk-scrollspy="cls: uk-animation-slide-bottom; delay:1200">Informações essenciais para reconhecer, prevenir e lidar com desafios da <br> saúde mental no ambiente de trabalho.</p>
    </div>
    <div class="uk-child-width-1-4@l uk-grid uk-grid-medium uk-grid-match" uk-scrollspy="cls: uk-animation-slide-bottom; delay:900">
        <div>
            <div class="uk-card uk-card-default back-card" style="padding: 15px; border-radius: 20px; border: solid 1px rgba(203, 203, 203, 0.687);">
                <div>
                    <img width="30" height="30" src="imagens/brain.png" alt="">
                    <div>
                        <h1 class="uk-card-title" style="font-size: 18px; margin: 0 !important; color: #094268; font-weight: 500;">Sinais de Estresse</h1>
                        <p style="font-size: 14px; margin-top: 9px; margin-bottom: 9px; color: #2B2B2B;">Reconheça os primeiros sinais antes que se tornem um problema maior</p>
                    </div>
                </div>
                <div>
                    <span style="background-color: #9A74A1; border-radius: 20px; padding: 6px; margin-right: 5px; font-size: 12px; color: white;">Prevenção</span><span style="background-color: #9A74A1; color: white;font-size: 12px;border-radius: 20px; padding: 6px;">Autoconhecimento</span>
                </div>
                <ul class="uk-list uk-list-bullet">
                    <li style="font-size: 14px; color: #2B2B2B;">Irritabilidade frequente</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Dificuldade para concentrar</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Cansaço mental constante</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Problemas de sono</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Tensão muscular</li>
                </ul>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default back-card" style="padding: 15px; border-radius: 20px; border: solid 1px rgba(203, 203, 203, 0.687)">
                <div>
                    <img width="30" height="30" src="imagens/error.png" alt="">
                    <div>
                        <h1 class="uk-card-title" style="font-size: 18px; margin: 0 !important; color: #094268; font-weight: 500;">Burnout no Trabalho</h1>
                        <p style="font-size: 14px; margin-top: 9px; margin-bottom: 9px; color: #2B2B2B;">Entenda o que é burnout e como prevenir esta síndrome</p>
                    </div>
                </div>
                <div>
                    <span style="background-color: #9A74A1; color: white; border-radius: 20px; padding: 6px; margin-right: 5px; font-size: 12px;">Síndrome</span><span style="background-color: #9A74A1; color: white;font-size: 12px;border-radius: 20px; padding: 6px;">Prevenção</span>
                </div>
                <ul class="uk-list uk-list-bullet">
                    <li style="font-size: 14px; color: #2B2B2B">Exaustão emocional extrem</li>
                    <li style="font-size: 14px; color: #2B2B2B">Despersonalização</li>
                    <li style="font-size: 14px; color: #2B2B2B">Redução da realização pessoal</li>
                    <li style="font-size: 14px; color: #2B2B2B">Cinismo em relação ao trabalho</li>
                    <li style="font-size: 14px; color: #2B2B2B">Sintomas físicos persistentes</li>
                </ul>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default back-card" style="padding: 15px; border-radius: 20px; border: solid 1px rgba(203, 203, 203, 0.687)">
                <div>
                    <img width="30" height="30" src="imagens/time.png" alt="imagem de tempo">
                    <div>
                        <h1 class="uk-card-title" style="font-size: 18px; margin: 0 !important; color: #094268; font-weight: 500;">Equilíbrio Vida-Trabalho</h1>
                        <p style="font-size: 14px; margin-top: 9px; margin-bottom: 9px; color: #2B2B2B;">Estratégias para manter limites saudáveis</p>
                    </div>
                </div>
                <div>
                    <span style="background-color: #9A74A1; color: white;border-radius: 20px; padding: 6px; margin-right: 5px; font-size: 12px;">Equilíbrio</span><span style="background-color: #9A74A1; color: white ;font-size: 12px;border-radius: 20px; padding: 6px;">Bem-estar</span>
                </div>
                <ul class="uk-list uk-list-bullet">
                    <li style="font-size: 14px; color: #2B2B2B;">Definir horários claros</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Criar rituais de desconexão</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Priorizar autocuidado</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Comunicar limites</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Buscar apoio quando necessário</li>
                </ul>
            </div>
        </div>

        <div>
            <div class="uk-card uk-card-default back-card" style="padding: 15px; border-radius: 20px; border: solid 1px rgba(203, 203, 203, 0.687)">
                <div>
                    <img width="30" height="30" src="imagens/coffee.png" alt="imagem de cafe">
                    <div>
                        <h1 class="uk-card-title" style="font-size: 18px; margin: 0 !important; font-weight: 500; color: #094268;">Pausas Restauradoras</h1>
                        <p style="font-size: 14px; margin-top: 9px; margin-bottom: 9px; color: #2B2B2B;">A importância das pausas para sua produtividade e saúde mental</p>
                    </div>
                </div>
                <div>
                    <span style="background-color: #9A74A1; color: white;border-radius: 20px; padding: 6px; margin-right: 5px; font-size: 12px;">Pausas</span><span style="background-color: #9A74A1; color: white;font-size: 12px;border-radius: 20px; padding: 6px;">Restauração</span>
                </div>
                <ul class="uk-list uk-list-bullet">
                    <li style="font-size: 14px; color: #2B2B2B;">Pausas de 5-15 minutos a cada hora</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Técnica Pomodoro</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Caminhadas curtas</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Exercícios de respiração</li>
                    <li style="font-size: 14px; color: #2B2B2B;">Alongamentos no escritório</li>
                </ul>
            </div>
        </div>
    </div>
</div>