<div class="back">
  <app-navbar></app-navbar>
  <app-slides></app-slides>
</div>

<div style="background-color: #9A74A1; padding: 1rem 0;">
  <div class="uk-container">
    <h1 class="header-text uk-text-center@s uk-text-right@m">
      A saúde mental e produtividade andam de mãos dadas.
    </h1>
  </div>
</div>

<app-about></app-about>

<div style="background-color: #00A6FB; padding: 1rem 0;">
  <div class="uk-container">
    <h1 class="header-text uk-text-center@s uk-text-right@m">
      Uma mente equilibrada é o segredo para produtividade sustentável.
    </h1>
  </div>
</div>

<app-services></app-services>

