<app-navbar></app-navbar>
<app-slides></app-slides>

<!--
<div class="banner" style="background-color: #9A74A1; padding: 2rem 0;">
  <div class="uk-container">
    <h1 class="header-text uk-text-center@s uk-text-right@m">
      A saúde mental e produtividade andam de mãos dadas.
    </h1>
  </div>
</div>
-->

<app-about></app-about>
<app-statics></app-statics>
<app-bemestar></app-bemestar>
<app-services></app-services>
<app-radio-epodcast></app-radio-epodcast>
<app-publicacao></app-publicacao>

<div class="uk-container">
    <img src="imagens/imagem.png" alt="">
</div>

<app-footer></app-footer>