.back {
  background-image: url("/imagens/background.png") !important;
  background-size: cover;        /* Faz a imagem cobrir toda a área */
  background-position: center;   /* Centraliza a imagem */
  background-repeat: no-repeat;  /* Evita repetição */
  width: 100vw;
}