<app-navbar></app-navbar>
<app-slides></app-slides>

<!--
<div class="banner" style="background-color: #9A74A1; padding: 2rem 0;">
  <div class="uk-container">
    <h1 class="header-text uk-text-center@s uk-text-right@m">
      A saúde mental e produtividade andam de mãos dadas.
    </h1>
  </div>
</div>
-->

<app-about></app-about>

<div class="banner" style="background-color: #0067A3; padding: 2rem 0;">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-grid-small uk-flex-center">
      
      <div class="">
        <div class="uk-inline uk-flex uk-flex-middle">
          <img src="imagens/global.png" width="50" style="filter: brightness(0) invert(1);" alt="Aluno">
          <div class="uk-margin-small-left">
            <div style="color: white; font-size: 18px;">Existência</div>
            <div style="color: white; font-size: 18px;"><b>1 ano</b></div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="uk-inline uk-flex uk-flex-middle">
          <img src="imagens/student.svg" width="50" style="filter: brightness(0) invert(1);" alt="Aluno">
          <div class="uk-margin-small-left">
            <div style="color: white; font-size: 18px;">Alunos Matriculados</div>
            <div style="color: white; font-size: 18px;"><b>+20</b></div>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-inline uk-flex uk-flex-middle">
          <img src="imagens/empresa.png" width="50" style="filter: brightness(0) invert(1);" alt="Empresa">
          <div class="uk-margin-small-left">
            <div style="color: white; font-size: 18px;">Empresas Satisfeitas</div>
            <div style="color: white; font-size: 18px;"><b>+10</b></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-services></app-services>
<app-radio-epodcast></app-radio-epodcast>

<div class="banner" style="background-color: #9A74A1; padding: 2rem 0;">
  <div class="uk-container">
    <h1 class="header-text uk-text-center@s uk-text-right@m">
      Mais eficiência no trabalho, menos desgaste mental.
    </h1>
  </div>
</div>

<app-publicacao></app-publicacao>

<div class="uk-container">
    <img src="imagens/imagem.png" alt="">
</div>

<app-footer></app-footer>