.header-text {
  font-size: clamp(18px, 4vw, 32px);
  font-weight: bold;
  color: #094268;
  margin: 0;
  line-height: 1.4;
}
p{
    text-align: justify;
    color: #094268 ;
}

.date-line {
    position: relative;
    padding-left: 40px;
    margin-bottom: 10px;
  }

.date-line h4 {
    display: inline-block;
    margin: 0;
}

.date-line::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-index: 0;
}

.date-line span {
    position: relative;
    background-color: white;
    padding-right: 10px;
    z-index: 1;
}

.uk-position-center-left-out, .uk-position-center-right-out {
    background-color: #094268;
    border-radius: 20px;
    color: white !important;
} 