.uk-navbar-center{
  background-color: rgba(128, 128, 128, 0.055);
  border-radius: 20px;
  padding: 25px;
  height: 50px;
}

.uk-navbar-nav li a {
  font-size: 10px !important;
  color:#9B73A3;
}

.uk-navbar-nav > li.uk-active > a {
  color: #00A6FB !important; /* azul */
  border-radius: 20px; /* opcional para bordas arredondadas */
}

.uk-navbar-nav li a:hover{
  color: #00A6FB !important;
}

button:hover{
  background-color: #9A74A1 !important;
  color: #EBE3EC !important;
}
