<!-- Navbar -->
<div class="uk-navbar-container uk-navbar-transparent">
  <div class="uk-container">
    <nav uk-navbar>
      <div class="uk-navbar-left">
        <a href="#" class="uk-navbar-item uk-navbar-logo">
          <img width="80px" src="imagens/logo.png" alt="log-onda-branca">
        </a>
      </div>

      <div class="uk-navbar-center uk-visible@s">
        <ul class="uk-navbar-nav">
          <li class="uk-active"><a href="/">Home</a></li>
          <li><a href="#">Sobre nós</a></li>
          <li><a href="#">Serviços</a></li>
          <li><a href="#">Publicações</a></li>
          <li><a href="#">Comunidade</a></li>
        </ul>
      </div>

      <div class="uk-navbar-right">
        <!-- Botão hambúrguer para telas pequenas -->
        <a class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon href="#offcanvas-menu" uk-toggle></a>

        <!-- Botão Contactar visível em telas médias e maiores -->
        <button class="uk-button uk-visible@s" style="font-size: 13px; border-radius: 20px; background-color: #00A6FB; color: white;">
          Contactar
        </button>
      </div>
    </nav>
  </div>
</div>

<!-- Menu offcanvas para telas pequenas -->
<div id="offcanvas-menu" uk-offcanvas="mode: push; overlay: true">
  <div class="uk-offcanvas-bar">

    <button class="uk-offcanvas-close" type="button" uk-close></button>

    <ul class="uk-nav uk-nav-default">
      <li class="uk-active"><a href="#">Home</a></li>
      <li><a href="#">Sobre nós</a></li>
      <li><a href="#">Serviços</a></li>
      <li><a href="#">Publicações</a></li>
      <li><a href="#">Comunidade</a></li>
      <li class="uk-nav-divider"></li>
      <li><a href="#">Contactar</a></li>
    </ul>

  </div>
</div>
