<app-navbar></app-navbar>
<div class="uk-margin-large-top" style="height: 10px;"></div>
<div style="background-color: #0067A3; padding: 1rem 0; border-radius: 50px;" class="uk-margin-large-top">
  <div class="uk-container">
    <div class="uk-text-center">
        <h1 class="header-text" >
            Sobre nos
        </h1>
    </div>
    <div class="uk-text-center">
        <span style="color: white; font-size: 14px;">Onda Branca > sobre nos</span>
    </div>
  </div>
</div>

<div class="uk-container uk-margin-large-bottom">
    <div class="uk-child-width-1-2@l uk-grid">
        <div>
            <img uk-sticky="offset: 100; bottom: true; media: @l" style="z-index: -1;" src="imagens/onda_branca_about.webp" alt="">
        </div>
        <div class="uk-card uk-card-body">
            <span style="font-size: 16px; color: #00a7fb;">Sobre nós</span>
            <h1 style="font-size: 30px; font-weight: bold; color: #094268; margin: 0;" class="title">Promovemos saúde mental de janeiro a dezembro.</h1>
            <p style="color: #0067A3; font-size: 16px; text-align: justify">
                Todos os anos, quando chega o mês de janeiro, surgem campanhas, palestras e postagens nas redes sociais lembrando a importância da saúde mental: é o chamado Janeiro Branco. Uma iniciativa nobre, mas que infelizmente costuma perder força com o passar dos meses.
            </p>
            <p style="color: #0067A3; font-size: 16px; text-align: justify">
                Foi exatamente dessa inquietação que nasceu o Onda Branca. Percebemos que, para muitas pessoas, o cuidado com a mente ainda é algo temporário, restrito a uma época ou visto como tabu. Mas a saúde mental não tem data marcada. Ela precisa de espaço, de escuta, de continuidade. Precisa ser prioridade todos os dias do ano.
            </p>
            <p style="color: #0067A3; font-size: 16px; text-align: justify">
                Assim, a Onda Branca surgiu com um compromisso claro: manter viva essa conversa de janeiro a dezembro. Levamos informação, acolhimento e ferramentas práticas para promover o bem-estar emocional, a produtividade consciente e o desenvolvimento humano em diferentes contextos: empresas, escolas, comunidades e ambientes digitais.
            </p>
            <p style="color: #0067A3; font-size: 16px; text-align: justify">
                Nossa missão é clara: fomentar uma cultura de cuidado emocional, onde o diálogo aberto e a educação sejam pilares para uma vida mais equilibrada e feliz. Nosso trabalho envolve diversas frentes: conteúdos educativos, formações especializadas, eventos, rodas de conversa e suporte contínuo para quem deseja transformar sua relação com a saúde mental.
            </p>
            <p style="color: #0067A3; font-size: 16px; text-align: justify">
                Acreditamos no poder da informação aliada ao acolhimento, porque só assim podemos quebrar estigmas e promover mudanças verdadeiras. Sabemos que cada pessoa, cada organização, pode se beneficiar ao integrar práticas que valorizem o equilíbrio emocional e a saúde psicológica.
            </p>
            <p style="color: #0067A3; font-size: 16px; text-align: justify">
                A Onda Branca é mais que uma iniciativa: é uma comunidade viva, que cresce e se fortalece a cada dia, construída com respeito, empatia e o compromisso de estar presente para quem precisa. Seguimos como uma onda contínua que inspira, conecta e transforma. Junte-se a nós nesta jornada de cuidado, aprendizado e evolução constante.
            </p>
        </div>
    </div>
</div>

<div class="uk-container uk-margin-medium-bottom">
  <div class="uk-child-width-1-3@l uk-grid uk-grid-match">
    
    <div uk-scrollspy="cls: uk-animation-slide-bottom uk-margin-small">
      <div class="uk-card uk-card-default uk-card-body" style="border-radius: 20px;">
        <div >
          <img src="imagens/goal.png" width="50px" style="color: #00a7fb;" alt="">
          <h4 class="uk-card-title uk-margin-small" style="color: #094268; font-size: clamp(18px, 2vw, 32px); font-weight: bold;text-transform: uppercase; ">Missão</h4>
        </div>
        <p style="color: #0067A3;">Promover a saúde mental e o bem-estar emocional de forma contínua, acessível e transformadora. Oferecemos conteúdos, formações e ações que capacitam pessoas e organizações a integrarem o cuidado emocional em sua rotina, com empatia, consciência e responsabilidade</p>
      </div>      
    </div>

    <div uk-scrollspy="cls: uk-animation-slide-bottom">
      <div class="uk-card uk-card-default uk-card-body" style="border-radius: 20px;">
        <div>
          <img width="50px" src="imagens/vissao.png" alt="vissao icon">
          <h4 class="uk-card-title uk-margin-small" style="color: #094268; font-size: clamp(18px, 2vw, 32px); font-weight: bold; text-transform: uppercase;">Visão </h4>
        </div>
        <p style="color: #0067A3;">Ser uma referência nacional no fortalecimento da saúde mental como valor essencial no desenvolvimento humano, educacional e profissional contribuindo para uma sociedade mais equilibrada, acolhedora e produtiva durante todo o ano.</p>
      </div>      
    </div>

    <div uk-scrollspy="cls: uk-animation-slide-bottom uk-margin-small">
      <div class="uk-card uk-card-default uk-card-body" style="border-radius: 20px;">
        <div>
          <img width="50px" src="imagens/valor.png" alt="missao icon">
          <h4 class="uk-card-title uk-margin-small" style="color: #094268; font-size: clamp(18px, 2vw, 32px); font-weight: bold; text-transform: uppercase;">Valor</h4>
        </div>
        
        <div>
          <ul class="uk-list uk-list-divider">
            <li style="color: #0067A3;"><span uk-icon="icon: triangle-right" class="uk-margin-small-right" style="color: #0067A3;"></span>Empatia</li>
            <li style="color: #0067A3;"><span uk-icon="icon: triangle-right" class="uk-margin-small-right" style="color: #0067A3;"></span>Compromisso continue</li>
            <li style="color: #0067A3;"><span uk-icon="icon: triangle-right" class="uk-margin-small-right" style="color: #0067A3;"></span>Educação e conscientização</li>
            <li style="color: #0067A3;"><span uk-icon="icon: triangle-right" class="uk-margin-small-right" style="color: #0067A3;"></span>Acolhimento</li>
            <li style="color: #0067A3;"><span uk-icon="icon: triangle-right" class="uk-margin-small-right" style="color: #0067A3;"></span>Transparência</li>
            <li style="color: #0067A3;"><span uk-icon="icon: triangle-right" class="uk-margin-small-right" style="color: #0067A3;"></span>Colaboração</li>
          </ul>
        </div>
      </div>      
    </div>

  </div>
</div>

<div class="uk-margin-medium-bottom" style="background-color: #9A74A1; padding: 2rem 0; border-radius: 50px;">
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-3@l uk-child-width-1-2@m uk-grid-small uk-flex-center" uk-scrollspy="cls: uk-animation-slide-bottom">
      
      <div>
        <div class="uk-inline uk-flex uk-flex-middle">
          <img src="imagens/goal.png" width="50" style="filter: brightness(0) invert(1);" alt="Aluno">
          <div class="uk-margin-small-left">
            <div style="color: white; font-size: 18px;">Existência</div>
            <div style="color: white; font-size: 18px;"><b>1 ano</b></div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="uk-inline uk-flex uk-flex-middle">
          <img src="imagens/student.svg" width="50" style="filter: brightness(0) invert(1);" alt="Aluno">
          <div class="uk-margin-small-left">
            <div style="color: white; font-size: 18px;">Alunos Matriculados</div>
            <div style="color: white; font-size: 18px;"><b>+20</b></div>
          </div>
        </div>
      </div>

      <div>
        <div class="uk-inline uk-flex uk-flex-middle">
          <img src="imagens/empresa.png" width="50" style="filter: brightness(0) invert(1);" alt="Empresa">
          <div class="uk-margin-small-left">
            <div style="color: white; font-size: 18px;">Empresas Satisfeitas</div>
            <div style="color: white; font-size: 18px;"><b>+10</b></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<app-historia></app-historia>
<div class="uk-container">
    <img src="imagens/imagem.png" alt="">
</div>
<app-footer></app-footer>