<div class="uk-container uk-margin-large-top">
    <div>
        <h2  style="font-size: 30px; color: #00A6FB; font-weight: bold; margin: 0;" class="uk-margin-small-bottom title">O que nós oferecemos</h2>
        <p style="font-size: 16px; color: #0E4363;" class="destaque">Soluções abrangentes para bem-estar <br> mental e produtividade no local de trabalho</p>
    </div>
</div>

<div class="uk-container uk-margin-large-bottom">
    <div uk-slider="autoplay: true" class=" uk-position-relative uk-visible-toggle uk-darklight" tabindex="-1">
        <div class="uk-slider-container ">
            <div class="uk-slider-items uk-child-width-1-6@l uk-child-width-1-3@s">
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
                <div>
                    <div style="border: solid black 1px; border-radius: 10px; padding: 5px !important;" class="uk-card uk-card-body uk-text-center uk-margin-small-right">
                        <img width="200.37px" class="uk-margin-remove" src="imagens/p7.png" alt="">
                        <a href="" style="font-size: 13px; margin: 0;" class="uk-margin-remove">Treinamento SM (P7)</a>
                    </div>
                </div>
            </div>
            <div class="uk-visible@m">
                <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right-out uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
            </div>
                    
            <div class="uk-hidden@m">
                <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
            </div>
        </div>
    </div>
</div>