@media (max-width: 768px) {
  .uk-slider-items {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .title{
    margin-top: 10px !important;
  }

  .uk-slider-items > div {
    text-align: center;
    display: block;
  }

  .uk-slider-items img {
    margin: 0 auto;
  }

  .destaque{
    margin-bottom: 20px;
  }
  a{
    display: block;
    font-size: 20px !important;
  }
  img{
    width: 100%;
  }
  .title{
    font-size: 23px !important;
  }
}