<div class="uk-container uk-margin-large-top" id="servico" >
    <div>
        <h2  style="font-size: 30px; color: #094268; font-weight: bold; margin: 0; max-width: 350px;" class="uk-margin-small-bottom title">O que nós oferecemos</h2>
        <p style="font-size: 16px; color: #0067A3; max-width: 350px;" class="destaque">Soluções abrangentes para bem-estar  mental e produtividade no local de trabalho</p>
    </div>
</div>

<div class="uk-container">
    <div uk-slider="autoplay: true" class="uk-position-relative uk-visible-toggle uk-darklight" tabindex="-1">
        <div class="uk-slider-container uk-padding-small" style="overflow: hidden; box-sizing: border-box;">
            <div class="uk-slider-items uk-child-width-1-5@l uk-grid-match uk-child-width-1-2@s ">
                <div *ngFor="let service of serv">
                    <div class="uk-child-width-1-2@l uk-flex uk-grid-match uk-grid-small" style="border: solid rgba(148, 148, 148, 0.388) 1px; border-radius: 20px; margin-right: 20px !important;">
                        <div class="uk-card uk-padding-small">
                            <img [src]="service.image.url" [alt]="service.name" style="border-radius: 10px;">
                        </div>
                        <div class="uk-card uk-padding-small">
                            <ng-container *ngIf="service.type === 'treinamento'; else elseTemplate">
                                <a [routerLink]="['/treinamento', service.id]"   style="color: #094268;">
                                    <span style="font-size: 12px; font-weight: 400;" class="type">{{ service.type }}</span><br>
                                    <span class="texto-com-reticencias">{{ service.name }}</span>
                                </a>
                            </ng-container>
                            <ng-template #elseTemplate>
                                <a href="#" style="color: #094268;">
                                    <span style="font-size: 12px; font-weight: 400;" class="type">{{ service.type }}</span><br>
                                    <span class="texto-com-reticencias">{{ service.name }}</span>
                                </a>
                            </ng-template>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="uk-visible@m">
                        <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    
                    <div class="uk-hidden@m">
                        <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                    </div>
        </div>
    </div>
</div>