<div class="uk-container" id="testemunho">

    <!--Testmunhos-->
    <div class="uk-margin-large-bottom">
        <div class="uk-child-width-1-2@l uk-grid">
            <div class="uk-width-auto@l" style="width: 420px;">
                <h2 style="font-size: 30px; color: #094268; font-weight: bold; margin: 0; max-width: 350px;" class="title uk-margin-small-bottom">Em suas próprias palavras</h2>
                <p style="font-size: 16px; color: #0067A3; max-width: 350px;" class="destaque">Ouça depoimentos de pessoas e organizações que  se transformaram com nossa ajuda</p>
            </div>
            <div class="uk-width-expand@l">
                <div uk-slider class=" uk-position-relative uk-visible-toggle uk-darklight" tabindex="-1">
                    <div class="uk-slider-container uk-padding-small ">
                        <div class="uk-slider-items uk-child-width-1-2@l uk-child-width-1-2@s uk-grid-large uk-grid-match">
                            <div *ngFor="let teacher of teachers" class="uk-padding-remove-left">
                                <div class="uk-child-width-1-2@l uk-flex uk-grid-match" style=" border-radius: 20px; box-sizing: border-box; overflow: hidden; border: solid #c7c7c7 1px; margin-right: 10px;">
                                    <div >
                                        <img [src]="teacher.image.url"  alt="Teacher photo">
                                    </div>
                                    <div class="uk-card uk-padding-small">
                                            <h3  style="font-size: 12px; font-weight: bold; color: #094268;" class="uk-margin-remove">{{teacher.first_name}} {{teacher.last_name}}</h3>
                                            <span style="font-size: 0.75rem; color: #094268;" class="uk-margin-small-bottom">{{teacher.position}}</span>
                                            <p class="uk-margin-remove" style="font-size: 10px;"><span style="font-size: 30px; color: #094268; position: absolute; top: 59px; left: -4px;" class="uk-icon" uk-icon="icon:  quote-right"></span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente omnis ex beatae corrupti deserunt accusamus deleniti <span style="font-size: 30px; color: #094268; position: absolute; bottom: 5px; right: 20px;" class="uk-icon" uk-icon="icon:  quote-right"></span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uk-visible@m">
                            <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right-out uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                        </div>
                    
                        <div class="uk-hidden@m">
                            <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                            <a class="uk-position-center-right uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>