.uk-button:hover{
  background-color: #9A74A1 !important;
  color: #EBE3EC !important;
}

.texto-com-reticencias {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limita a 2 linhas */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  /* Adicione estas propriedades */
  word-break: break-word; /* Quebra palavras longas */
  max-width: 100%; /* Garante que respeite o container pai */
  line-height: 1.2; /* Ajuste o espaçamento entre linhas */
  font-size: 16px;
  font-weight: 600;
}