<div class="uk-container uk-margin-large-top uk-margin-small-bottom">
    
    <div class="uk-child-width-1-2@l uk-flex-around uk-flex" style="width: 100%;">
        <div class="uk-width-auto">
            <h2  style="font-size: 30px; color: #00A6FB; font-weight: bold; margin: 0; max-width: 350px;" class="uk-margin-small-bottom title">Últimas Publicações</h2>
        </div>
        <div class="uk-width-expand uk-text-right" >
            <a href="" class="uk-button uk-button-small" style="background-color: #00A6FB; border-radius: 20px; padding: 8px 24px; font-size: 12.8px; color: #EBE3EC;">Mais Publicações <span class="uk-icon uk-text-center" style="color: #EBE3EC;" uk-icon="icon: arrow-right"></span></a>
        </div>
    </div>

    <div uk-slider class="uk-position-relative uk-margin-small-top" tabindex="-1">
        <div class="uk-slider-container uk-padding-remove uk-padding-small" style="overflow: hidden; box-sizing: border-box;">
            <div class="uk-slider-items uk-child-width-1-5@l uk-grid-match">
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="uk-container uk-margin-large-bottom">
    <!--Sobre nos-->
    <div class="uk-child-width-1-2@l uk-grid uk-grid-match">
        <div class="uk-card uk-card-body">
            <h1 style="font-size: 30px; font-weight: bold; color: #00A6FB;" class="uk-margin-small"> Espaços para eventos</h1>
            <p style="font-size: 16px; margin-bottom: 0; color: #094268;" >Na Onda Branca, cada detalhe é cuidadosamente preparado para proporcionar um ambiente confortável, funcional e inspirador.</p>
            <p style="font-size: 16px; color: #094268;" >Seja para formações, reuniões, workshops ou eventos especiais, estamos prontos para receber você com excelência e atenção a cada necessidade.</p>
            <div >
                <button class="uk-button uk-button-small" style="font-size: 12.8px; padding: 8px 24px; border-radius: 20px; background-color: #00A6FB; color: #EBE3EC; margin-right: 5px;">Saiba mais <span class="uk-icon" style="color: #EBE3EC;" uk-icon="icon: arrow-right"></span> </button>
                <button class="uk-button uk-button-small" style="font-size: 12.8px; padding: 8px 24px; border-radius: 20px; background-color: #9B73A3; color: #EBE3EC; margin-right: 5px;">Marcar uma visita <span class="uk-icon" style="color: #EBE3EC;" uk-icon="icon: calendar"></span> </button>
                <button class="uk-button uk-button-small" style="font-size: 12.8px; padding: 8px 24px; border-radius: 20px; background-color: #9B73A3; color: #EBE3EC;"><span class="uk-icon" style="color: #EBE3EC;" uk-icon="icon: download"></span> </button>
            </div>
        </div>
        <div class="uk-flex-middle">
            <div uk-slider="autoplay: true" class="uk-position-relative uk-visible-toggle uk-darklight" tabindex="-1">
                <div class="uk-slider-container uk-padding-small">
                    <div class="uk-slider-items uk-child-width-1-4@l" style="margin-right: 10px;">
                        <div>
                            <div style="margin-right: 5px;">
                                <img src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 5px;">
                                <img src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 5px;">
                                <img src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 5px;">
                                <img src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 5px;">
                                <img src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                    <a class="uk-position-center-right-out uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                </div>
            </div>
        </div>
    </div>
</div>