<div class="uk-container uk-margin-large-top uk-margin-large-bottom">
    
    <div class="uk-child-width-1-2@l uk-flex-around uk-flex" style="width: 100%;">
        <div class="uk-width-auto">
            <h2   style="font-size: 30px; color: #094268; font-weight: bold; margin: 0; max-width: 350px;" class="uk-margin-small-bottom title">Últimas Publicações</h2>
        </div>
        <div class="uk-width-expand uk-text-right" >
            <a [routerLink]="['/publicacao']"  class="uk-button uk-button-small uk-visible@s" style="background-color: #0067A3; border-radius: 20px; padding: 8px 24px; font-size: 12.8px; color: #EBE3EC;">Mais Publicações <span class="uk-icon uk-text-center" style="color: #EBE3EC;" uk-icon="icon: arrow-right"></span></a>
        </div>
    </div>

    <div uk-slider="autoplay: true" class="uk-position-relative uk-margin-small-top uk-visible-toggle uk-darklight" tabindex="-1">
        <div class="uk-slider-container uk-padding-remove uk-padding-small" style="overflow: hidden; box-sizing: border-box;">
            <div class="uk-slider-items uk-child-width-1-5@l uk-child-width-1-3@s uk-grid-match">
                <div>
                    <div style="border: solid #bdbdbda6 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 16px; font-weight: 400; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
                <div >
                    <div style="border: solid #9e9e9e 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                        <img src="imagens/pub.png" alt="">
                        <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 14px; font-weight: 650; color: #094268;">Treinamento de bem-estar no local de trabalho</h3>
                        <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">10-10-2022</span>
                        <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
                    </div>
                </div>
            </div>
            <div class="uk-hidden@l">
                <a class="uk-position-center-left uk-position-small" style="color: #072132;" href uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
            </div>
            <div class="uk-visible@m">
                <a class="uk-position-center-left-out uk-position-small" style="color: #072132;" href uk-slidenav-previous uk-slider-item="previous"></a>
                <a class="uk-position-center-right-out uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
            </div>
        </div>
    </div>

    <div class="uk-hidden@s uk-margin-large-top uk-text-center">
        <a [routerLink]="['/publicacao']" class="uk-button uk-button-small" style="background-color: #00A6FB; border-radius: 20px; padding: 8px 24px; font-size: 12.8px; color: #EBE3EC;">Mais Publicações <span class="uk-icon uk-text-center" style="color: #EBE3EC;" uk-icon="icon: arrow-right"></span></a>
    </div>
</div>
<!--
<div class="uk-container uk-margin-large-bottom">
    
    <div class="uk-child-width-1-2@l uk-grid uk-grid-match">
        <div class="uk-card">
        <h2 style="font-size: 30px; font-weight: bold; color: #0067A3;" class="uk-margin-large-top uk-margin-remove-bottom title"> Espaços para eventos</h2>
            <p style="font-size: 16px; margin-bottom: 0 !important; color: #0067A3;" >Na Onda Branca, cada detalhe é cuidadosamente preparado para proporcionar um ambiente confortável, funcional e inspirador.</p>
            <p style="font-size: 16px; color: #0067A3;" class="uk-margin-remove-bottom">Seja para formações, reuniões, workshops ou eventos especiais, estamos prontos para receber você com excelência e atenção a cada necessidade.</p>
            <div class="uk-flex uk-flex-wrap">
                <div class="uk-margin-small-top uk-margin-small-bottom">
                    <a href="#" class="uk-button uk-button-small uk-button-eventos" style="font-size: 0.78rem; padding: 8px 24px; border-radius: 20px; background-color: #00A6FB; color: #EBE3EC; margin-right: 5px;">Saiba mais <span class="uk-icon" style="color: #EBE3EC;" uk-icon="icon: arrow-right"></span> </a>
                </div>
                <div class="uk-margin-small-top uk-margin-small-bottom">
                    <a href="#agendar" uk-toggle  class="uk-button uk-button-eventos uk-button-small " style="font-size: 0.78rem; padding: 8px 24px; border-radius: 20px; background-color: #9B73A3; color: #EBE3EC; margin-right: 5px;">Marcar uma visita <span class="uk-icon" style="color: #EBE3EC;" uk-icon="icon: bookmark; ratio: 1"></span> </a>
                </div>
                <div class="uk-margin-small-top uk-margin-small-bottom">
                    <a href="#" class="uk-button uk-button-eventos uk-button-small uk-margin-small-top@s" style="font-size: 0.78rem; padding: 8px 24px; border-radius: 20px; background-color: #9B73A3; color: #EBE3EC;"><span class="uk-icon" style="color: #EBE3EC;" uk-icon="icon: download"></span> </a>
                </div>
            </div>
        </div>
        <div class="uk-flex-middle">
            <div uk-slider="autoplay: true" class="uk-position-relative uk-visible-toggle uk-darklight" tabindex="-1">
                <div class="uk-slider-container uk-padding-small">
                    <div class="uk-slider-items uk-child-width-1-4@l" style="margin-right: 10px;">
                        <div>
                            <div style="margin-right: 5px;">
                                <img style="border-radius: 50%;" src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 5px;">
                                <img style="border-radius: 50%;" src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 5px;">
                                <img style="border-radius: 50%;" src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 5px;">
                                <img style="border-radius: 50%;" src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                        <div>
                            <div style="margin-right: 5px;">
                                <img style="border-radius: 50%;" src="imagens/espaco.jpg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="uk-hidden@l">
                        <a class="uk-position-center-left uk-position-small" style="color: #072132;" href uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    <div class="uk-visible@m">
                        <a class="uk-position-center-left-out uk-position-small" style="color: #072132;" href uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="agendar" uk-modal>
    <div class="uk-modal-dialog" style="border-radius: 20px;">
        <button class="uk-modal-close-default" type="button" uk-close></button>

        <div class="uk-modal-header uk-text-center" style="border-radius: 20px 20px 0 0px;">
            <h2 class="uk-modal-title" style="color: #094268;">Agendar uma visita</h2>
        </div>
        <div class="uk-modal-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="uk-form-stacked-name" style="color: #094268;">*Nome</label>
                    <div class="uk-form-control uk-inline-block uk-width-1-1">
                        <span class="uk-form-icon" style="background-color: #00A6FB; color: #EBE3EC; border-radius: 20px 0 0 20px;" uk-icon="icon: user"
                        [style.background-color]="form.controls.name.invalid && (form.controls.name.touched || form.controls.name.dirty) ? 'red' : '#00A6FB'"
                        ></span>
                        <input formControlName="name" name="name" class="uk-input" id="form-stacked-name" placeholder="Insira os seu completo" type="text" style="border: solid #00A6FB 1px; border-radius: 20px;"
                            [ngStyle]="{ border:
                            form.controls.name.invalid &&
                            (form.controls.name.touched || form.controls.name.dirty)
                            ? '1px solid red'
                            : '1px solid #00A6FB' }"
                        >
                    </div>
                    <div *ngIf="form.controls.name.errors && (form.controls.name.dirty || form.controls.name.touched)">
                        <div class="uk-text-danger"><span *ngIf="form.controls.name.hasError('required')">O nome é obrigatório.</span></div>
                    </div>
                </div>
                <div class="uk-grid-small uk-child-width-1-2@s" uk-grid>
                    <div>
                        <label class="uk-form-label" for="uk-form-stacked-email" style="color: #094268;">*email</label>
                        <div class="uk-form-controls uk-inline uk-width-1-1">
                            <span class="uk-form-icon" style="background-color: #00A6FB; color: #EBE3EC; border-radius: 20px 0 0 20px;" uk-icon="icon: mail"
                            [style.background-color]="form.controls.email.invalid && (form.controls.email.touched || form.controls.email.dirty) ? 'red' : '#00A6FB'"
                            ></span>
                            <input formControlName="email" name="email" class="uk-input" id="uk-form-stacked-email" placeholder="Insira o seu emai prefirido" type="email" style="border: solid #00A6FB   1px; border-radius: 20px;"
                                [ngStyle]="{
                                    border: 
                                    form.controls.email.invalid && 
                                    (form.controls.email.touched || form.controls.email.dirty)
                                    ? '1px solid red' 
                                    : '1px solid #00A6FB' 
                                }"
                            />
                        </div>
                        <div *ngIf="form.controls.email.errors && (form.controls.email.dirty || form.controls.email.touched)">
                            <div class="uk-text-danger"><span *ngIf="form.controls.email.hasError('required')">O email é obrigatório.</span></div>
                            <div class="uk-text-danger"><span *ngIf="form.controls.email.hasError('email')">Por favor, insira um endereço de email válido.</span></div>
                        </div>
                    </div>
                    <div>
                        <label class="uk-form-label" for="uk-form-stacked-telefone" style="color: #094268;">*telefone</label>
                        <div class="uk-form-controls uk-inline uk-width-1-1">
                            <span class="uk-form-icon" style="background-color: #00A6FB; color: #EBE3EC; border-radius: 20px 0 0 20px;" uk-icon="icon: receiver"
                            [style.background-color]="form.controls.tel.invalid && (form.controls.tel.touched || form.controls.tel.dirty) ? 'red' : '#00A6FB'"
                            ></span>
                            <input formControlName="tel" class="uk-input" id="form-stacked-telefone" placeholder="Insira o seu Celular" type="tel" style="border: solid #00A6FB 1px; border-radius: 20px;"
                            [ngStyle]="{
                                    border: 
                                    form.controls.tel.invalid && 
                                    (form.controls.tel.touched || form.controls.tel.dirty)
                                    ? '1px solid red' 
                                    : '1px solid #00A6FB' 
                                }"
                            >
                        </div>
                        <div *ngIf="form.controls.tel.errors && (form.controls.tel.dirty || form.controls.tel.touched)">
                                <small class="uk-text-danger" *ngIf="form.controls.tel.hasError('required')">O telefone é obrigatório.</small>
                                <small class="uk-text-danger" *ngIf="form.controls.tel.hasError('pattern')">Apenas números são permitidos.</small>
                                <small class="uk-text-danger" *ngIf="form.controls.tel.hasError('minlength')">Deve conter 9 dígitos.</small>
                                <small class="uk-text-danger" *ngIf="form.controls.tel.hasError('maxlength')">Deve conter 9 dígitos.</small>
                        </div>
                    </div>
                </div>
                <div class="uk-grid-small uk-child-width-1-2@s uk-margin-small" uk-grid>
                    <div>
                        <label class="uk-form-label" for="agendarComo" style="color: #094268;">*Agendar como</label>
                        <div class="uk-flex uk-flex-middle uk-width-1-1">
                            <span [style.background-color]="form.controls.agendarcomo.invalid && (form.controls.agendarcomo.touched || form.controls.agendarcomo.dirty) ? 'red' : '#00A6FB' " style="background-color: #00A6FB; color: #EBE3EC; border-radius: 20px 0 0 20px; padding: 10px; display: flex; align-items: center;">
                                <span uk-icon="icon: users"></span>
                            </span>

                            <select formControlName="agendarcomo" class="uk-select" id="agendarComo" style="border: solid #00A6FB 1px; border-left: none; border-radius: 0 20px 20px 0; height: 40px; flex: 1;"
                            [ngStyle]="{'border': form.controls.agendarcomo.invalid && ( form.controls.agendarcomo.touched || form.controls.agendarcomo.dirty) ? 'solid red 1px' : 'solid #00A6FB 1px'}"
                            >
                                <option value="" disabled selected style="color: #d0d0d098;">Agendar Como</option>
                                <option value="Particular">Particular</option>
                                <option value="Empresa">Empresa</option>
                            </select>
                        </div>
                        <div *ngIf="form.controls.agendarcomo.errors && (form.controls.agendarcomo.touched || form.controls.agendarcomo.dirty)">
                            <div class="uk-text-danger"><span *ngIf="form.controls.data.hasError('required')">Este campo é obrigatório.</span></div>
                        </div>
                    </div>

                    <div>
                        <label class="uk-form-label" for="data-visita" style="color: #094268;">*Data da visita</label>
                        <div class="uk-form-controls uk-inline uk-width-1-1">
                            <span [style.background-color]="form.controls.data.invalid && (form.controls.data.touched || form.controls.data.dirty) ? 'red' : '#00A6FB' " class="uk-form-icon" style="background-color: #00A6FB; color: #EBE3EC; border-radius: 20px 0 0 20px;" uk-icon="icon: calendar"></span>
                            <input formControlName="data" class="uk-input" id="datepicker" type="date" placeholder="selecionar a data" style="border: solid #00A6FB 1px; border-radius: 20px;"
                            [ngStyle]="{'border': form.controls.data.invalid && ( form.controls.data.touched || form.controls.data.dirty) ? 'solid red 1px' : 'solid #00A6FB 1px'}"
                            >
                        </div>
                        <div *ngIf="form.controls.data.errors && (form.controls.data.touched || form.controls.data.dirty)">
                            <div class="uk-text-danger"><span *ngIf="form.controls.data.hasError('required')">A data é obrigatório.</span></div>
                        </div>
                    </div>

                </div>
            
                <div class="uk-margin uk-width-1-1">
                    <button type="submit" class="uk-button uk-button-small uk-width-1-1" style="background-color: #00A6FB ;border: solid #00A6FB 1px; border-radius: 20px; padding: 8px 20px; color: #EBE3EC; font-size: 14.8px !important;">Agendar a visita</button>
                </div>
            </form>
        </div>
    </div>
</div>
-->
