<div class="uk-section" style="background-color: #0942680e;">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-child-width-1-5@m uk-grid-large uk-grid">
      
      <!-- Coluna 1: Logo e Descrição -->
      <div class="uk-width-1-1@s uk-width-1-4@l  uk-text-center@s uk-text-left@l">
        <img src="imagens/logo_footer.png" style="width: 50%;" alt="Logo Onda Branca" class="uk-margin-small-bottom ">
        <p style="color: #094268; font-size: 14px; margin: 0;">
            Espaço de apoio à saúde mental e produtividade. Comunidade, recursos, e inspiração.
        </p>
      </div>

      <!-- Coluna 2: Navegação -->
      <div class="uk-width-auto">
        <h4 class="uk-text-bold uk-margin-small-bottom uk-margin-small-top" style="font-size: 15px; color: #094268;">Navegação</h4>
        <ul class="uk-list uk-list-collapse">
          <li><a href="/sobre" class="uk-link-text" style="color: #094268;">Sobre nós</a></li>
          <li><a href="/comunidade" class="uk-link-text" style="color: #094268;">Comunidade</a></li>
          <li><a href="/publicacao" class="uk-link-text" style="color: #094268;">Publicações</a></li>
        </ul>
      </div>

      <!-- Coluna 3: Suporte -->
      <div class="uk-width-auto">
        <h4 class="uk-text-bold uk-margin-small-bottom uk-margin-small-top" style="font-size: 15px; color: #094268;">Links uteis</h4>
        <ul class="uk-list uk-list-collapse">
          <li><a href="/contato" class="uk-link-text" style="color: #094268;">Certificação</a></li>
          <li><a href="/privacidade" class="uk-link-text" style="color: #094268;">Política de Privacidade</a></li>
        </ul>
      </div>

      <!-- Coluna 4: Contacto -->
      <div class="uk-width-auto">
        <h4 class="uk-text-bold uk-margin-small-bottom uk-margin-small-top" style="font-size: 15px; color: #094268;">Contactos</h4>
        <ul class="uk-list uk-list-collapse">
          <li><a href="/contato" class="uk-link-text" style="color: #094268;"><span class="uk-icon" uk-icon="icon: location; receiver; ratio:0.7"></span> Maianga</a></li>
          <li style="color: #094268;"><span class="uk-icon" uk-icon="icon: receiver; ratio:0.7"></span> (+244) 222 222 222</li>
          <li style="color: #094268;"><span class="uk-icon" uk-icon="icon: mail; receiver; ratio:0.7"></span> ondabranca.co.ao</li>
        </ul>
      </div>

      <!-- Coluna 5: Redes Sociais -->
      <div class="uk-width-auto">
        <h4 class="uk-text-bold uk-margin-small-bottom uk-margin-small-top" style="font-size: 15px; color: #094268;">Siga-nos</h4>
        <div class="uk-flex uk-flex-middle uk-flex-left uk-grid-small" uk-grid>
          <div><a href="#" class="uk-icon-button icon-branca"><span uk-icon="icon: instagram; ratio: 0.9" style="color: white;"></span></a></div>
          <div><a href="#" class="uk-icon-button icon-branca" > <span uk-icon="icon: facebook; ratio: 0.9"></span></a></div>
          <div><a href="#" class="uk-icon-button icon-branca" ><span uk-icon="icon: linkedin; ratio: 0.9"></span></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="uk-text-center uk-text-small" style="color: white; background-color: #0067A3; padding: 10px;">
      © {{ currentYear }} Onda Branca. Todos os direitos reservados.
</div>
