<div class="uk-container uk-padding back">
    <div class="uk-slider">
        <div class="uk-slider-itens uk-child-width-1-4@l uk-grid uk-grid-small uk-grid-match" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600;">
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-text-center back" style="border: solid 1px rgba(203, 203, 203, 0.687); border-radius: 20px; padding: 30px 15px 30px 15px;">
                    <img width="40" src="imagens/Users.png" alt="insurance"><br>
                    <span style="font-size: 30px; font-weight: bold; color: #094268;">50k+</span>
                    <h5 style="font-size: 15px; font-weight: 400; margin: 5px !important; color: #094268;">Pesoas atendidas</h5>
                    <p style="font-size: 13px; margin: 5px; color: #2B2B2B;">Profissionais que transformaram sua relação com o trabalho</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-text-center back" style="border: solid 1px rgba(203, 203, 203, 0.687); border-radius: 20px; padding: 30px 15px 30px 15px;">
                    <img width="40" src="imagens/books.png" alt="insurance"><br>
                    <span style="font-size: 30px; font-weight: bold; color: #094268;">200+</span>
                    <h5 style="font-size: 15px; font-weight: 400; margin: 5px !important; color: #094268;">Treinamentos realizados</h5>
                    <p style="font-size: 13px; margin: 5px; color: #2B2B2B;">Workshops e treinamentos oferecidos em toda a Angola</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-text-center back" style="border: solid 1px rgba(203, 203, 203, 0.687); border-radius: 20px; padding: 30px 15px 30px 15px;">
                    <img width="40" src="imagens/headfones.png" alt="insurance"><br>
                    <span style="font-size: 30px; font-weight: bold; color: #094268;">1M+</span>
                    <h5 style="font-size: 15px; font-weight: 400; margin: 5px !important; color: #094268;">Horas de conteúdo</h5>
                    <p style="font-size: 13px; margin: 5px; color: #2B2B2B;">Podcasts e programas de rádio sobre bem-estar e produtividade no trabalho</p>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-body uk-card-default uk-text-center back" style="border: solid 1px rgba(203, 203, 203, 0.687); border-radius: 20px; padding: 30px 15px 30px 15px;">
                    <img width="40" src="imagens/statistic.png" alt="insurance"><br>
                    <span style="font-size: 30px; font-weight: bold; color: #094268;">95%</span>
                    <h5 style="font-size: 15px; font-weight: 400; margin: 5px !important; color: #094268;">Taxa de satisfação</h5>
                    <p style="font-size: 13px; margin: 5px; color: #2B2B2B;">Dos participantes recomendam nossos serviços e empresas satisfeitos</p>
                </div>
            </div>
        </div>
    </div>
</div>