<app-navbar></app-navbar>
<div class="uk-margin-large-top" style="height: 10px;"></div>
<div style="background-color: #0067A3; padding: 1rem 0;" class="uk-margin-large-top">
  <div class="uk-container">
    <h1 class="header-text uk-text-center@s uk-text-left@m">
        <ng-container *ngIf="query && query.trim() === '%20'">
            Resultado da pesquisa:
        </ng-container>
        <ng-container *ngIf="query && query.trim() !== '%20'">
            Resultado da pesquisa: {{ query }}
        </ng-container>
    </h1>
  </div>
</div>

<div class="uk-container uk-margin-medium-top">
    <div class="uk-child-width-1-5@l uk-child-width-1-3@s uk-grid uk-grid-match">
        <div *ngFor="let pub of pubs" class="uk-margin-small-bottom">
            <div style="border: solid #bdbdbda6 2px; border-radius: 20px; margin-right: 10px;" class="uk-padding-small">
                <img [src]="pub.image.url" [alt]="pub.title">
                <h3 class="uk-margin-small texto-com-reticencias" style="font-size: 16px; font-weight: 400; color: #094268;">{{ pub.title }}</h3>
                <span style="border-radius: 20px; background-color: #00a7fb6c; color: #094268; padding: 5px; font-size: 10px;">{{ formatDateOrRecent(pub.created_at) }}</span>
                <a href="" style="font-size: 14px; font-weight: 700; color: #094268; display: block;" class="uk-margin-small">Ler a publicacao</a>
            </div>
        </div>
        <div *ngIf="isLoading" class="uk-width-1-1 uk-flex uk-flex-center uk-margin-large-top">
            <div uk-spinner="ratio: 1.5"></div>
        </div>
    </div>
</div>

<div>
    <img src="imagens/imagem.png" alt="">
</div>

<app-footer></app-footer>