.back {
  background: linear-gradient(to right, #f4fbff, white);
}
.uk-button-pri{
  transition: all 0.3s ease;
}
.uk-button-seg{
  transition: all 0.3s ease;
}

.uk-button-seg:hover{
  transform: scale(1.09);
  background-color: #094268 !important;
  color: white !important;
}

.uk-button-pri:hover{
  transform: scale(1.09);
  background-color: #9B73A3 !important;
}

