<div class="uk-container uk-margin-large-top">
    <!--Sobre nos-->
    <div class="uk-child-width-1-2@l uk-grid uk-grid-match">
        <div>
            <img width="100%" height="auto" src="imagens/onda_branca_about.webp" alt="about">
        </div>
        <div>
            <span class="uk-margin-large-top uk-margin-remove-bottom@l" style="font-size: 16px; color: #00a7fb;" >Sobre nós</span>
            <h1 style="font-size: 30px; font-weight: bold; color: #094268; margin-bottom: -5px !important;" class="uk-margin-remove-top title"> Onda Branca</h1>
            <p style="font-size: 16px; margin-bottom: 0; color: #0067A3;" class="uk-margin-remove@l">Acreditamos que saúde mental e produtividade andam de mãos dadas.</p>
            <p style="font-size: 16px; color: #0067A3;" class="uk-margin-remove@l">Nossa missão é criar locais de trabalho mais saudáveis ​​e produtivos, fornecendo recursos e treinamentos acessíveis e baseados em evidências.</p>
            <div>
                <button class="uk-button uk-button-small" style="font-size: 12.8px; padding: 8px 24px; border-radius: 20px; background-color: #0067A3; color: #EBE3EC;">Saiba mais <span class="uk-icon" style="color: #EBE3EC;" uk-icon="icon: arrow-right"></span> </button>
            </div>
        </div>
    </div>

    <!--Porfessores-->
    <div class="uk-container uk-margin-large-top uk-margin-large-bottom">
        <div class="uk-child-width-1-2@l uk-grid">
            <div class="uk-width-auto@l" style="width: 420px;">
                <h2 style="font-size: 30px; color: #094268; font-weight: bold; margin: 0; max-width: 350px;" class="title uk-margin-small-bottom">Conheça Nossa Equipe de Formadores</h2>
                <p style="font-size: 16px; color: #0067A3; max-width: 350px;" class="destaque">Conheça os profissionais por trás das nossas formações.</p>
            </div>
            <div class="uk-width-expand@l">
                <div uk-slider="autoplay: true" class=" uk-position-relative uk-visible-toggle uk-darklight" tabindex="-1">
                    <div class="uk-slider-container uk-padding-small ">
                        <div class="uk-slider-items uk-child-width-1-3@l  uk-grid-match uk-child-width-1-3@s uk-grid-small">
                        <div *ngFor="let teacher of teachers">
                            <div class="uk-child-width-1-2@l uk-flex uk-grid-match" style=" border-radius: 20px; box-sizing: border-box; overflow: hidden; border: solid #c7c7c7 1px;">
                                <div>
                                    <img width="100%" height="auto" [src]="teacher.image.url"  alt="Teacher photo">
                                </div>
                                <div>
                                    <div class="uk-card uk-padding-small">
                                        <h3 style="font-size: 12px; font-weight: bold; color: #094268;" class="uk-margin-small-bottom">{{teacher.first_name}} {{teacher.last_name}}</h3>
                                        <span style="font-size: 0.75rem; color: #094268;">{{teacher.position}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uk-visible@m">
                        <a class="uk-position-center-left-out uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right-out uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                    
                    <div class="uk-hidden@m">
                        <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slider-item="previous"></a>
                        <a class="uk-position-center-right uk-position-small" style="color: #072132;" href uk-slidenav-next uk-slider-item="next"></a>
                    </div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</div>