p, span {
    color: #012C42;
}

button:hover{
  background-color: #9A74A1 !important;
  color: #EBE3EC !important;
}

.uk-slidenav-previous,
.uk-slidenav-next {
  z-index: 1000;
  color: #072132 !important; /* ou #fff para fundo escuro */
}

.uk-position-center-left-out, .uk-position-center-right-out {
    color: #9A74A1 !important;
}


@media (max-width: 768px) {
  .title{
    margin-top: 10px !important;
  }

  .destaque{
    margin-bottom: 20px;
  }
  .title{
    font-size: 23px !important;
  }
}
