<div class="back">
    <app-navbar></app-navbar>
    <div class="uk-container" style="padding-top: 70px; padding-bottom: 20px;">
        <div class="uk-child-width-1-2@l uk-grid">
            <div class="uk-card">
                <div class="uk-margin-large-top">
                    <span class="uk-text-center" style="background-color: #9A74A1; border-radius: 20px; padding: 7px; font-size: 12px; color: white;">Onda branca</span>
                </div>
                <h2 class="uk-margin-remove title" style="font-weight: bold; color: #094268; font-size: 29px;">Juntos, de janeiro a dezembro, cuidando da saúde <span style="color: #9A74A1;">mental</span> com propósito.</h2>
                <p style="font-size: 16px; color: #0067A3;">A Comunidade Onda Branca é um espaço seguro, colaborativo e inspirador, onde pessoas comprometidas com o bem-estar emocional se conectam, aprendem e crescem juntas.</p>
                <a href="" class="uk-button" style=" font-size: 12.8px; padding: 8px 24px; background-color: #9A74A1; color: white; border-radius: 10px;">Quero fazer parte</a>
            </div>
            <div>
                <div>
                    <img src="/onda/imagens/comunidade.png" alt="comunidade onda branca">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="uk-container">
    <div class="uk-child-width-1-3@l uk-grid">
        <div>
            <div class="uk-card uk-card-body ">
                <span class="uk-icon" uk-icon="icon: users; ratio: 2" style="color: #0067A3;"></span>
                <h4 class="uk-card-title uk-margin-small" style="color: #094268; font-size: 20px; font-weight: 600;">Quem pode participar?</h4>
                <p class="uk-margin-remove"  style="color: #0067A3; font-size: 14px;">Todas as pessoas interessadas em promover o equilíbrio emocional na vida pessoal e profissional. Você é bem-vindo(a), seja qual for a sua trajetória.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body ">
                <span class="uk-icon" uk-icon="icon: file-text; ratio: 2" style="color: #0067A3;"></span>
                <h4 class="uk-card-title uk-margin-small" style="color: #094268; font-size: 20px; font-weight: 600;">Nossa proposta</h4>
                <p class="uk-margin-remove"  style="color: #0067A3; font-size: 14px;">Criar uma rede de cuidado, acolhimento e desenvolvimento humano, onde cada pessoa possa se sentir valorizada, escutada e fortalecida.</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-body ">
                <span class="uk-icon" uk-icon="icon:  file-edit; ratio: 2" style="color: #0067A3;"></span>
                <h4 class="uk-card-title uk-margin-small" style="color: #094268; font-size: 20px; font-weight: 600;">O que você vai encontrar</h4>
                <p class="uk-margin-remove"  style="color: #0067A3; font-size: 14px;">Recursos práticos, conteúdos educativos, encontros temáticos e um ambiente seguro para crescer emocionalmente ao lado de pessoas com os mesmos propósitos.</p>
            </div>
        </div>
    </div>
</div>
<div class="uk-container uk-padding" style="background-color: #0942680e;">
    <div class="uk-child-width-1-2@l uk-grid">
        <div class="uk-card" uk-scrollspy="cls: uk-animation-slide-bottom">
            <h4 class="uk-margin-small-top title" style="color: #094268; font-size: 30px; font-weight: bold;">Círculos de Conversa e Trocas Semanais</h4>
            <p style="font-size: 16px; color: #0067A3;">Encontros semanais entre colegas que promovem escuta, empatia e troca de experiências no contexto profissional. Um espaço seguro para refletir sobre saúde emocional, fortalecer relações e construir uma cultura de bem-estar no trabalho.</p>
            <p style="font-size: 16px; color: #0067A3;">Mais do que conversas, esses círculos impulsionam mudanças reais na forma como as equipes se comunicam, cooperam e enfrentam desafios do dia a dia.</p>
            <a href="" class="uk-button" style="background-color: #9A74A1; color: white;  font-size: 12.8px; padding: 8px 24px; border-radius: 20px;" uk-scrollspy="cls: uk-animation-slide-bottom">Fazer parte da comunidade</a>
        </div>
        <div class="uk-margin-small">
            <img style="border-radius: 20px;" src="/onda/imagens/circulo.png" alt="" uk-scrollspy="cls: uk-animation-slide-right; delay:900">
        </div>
    </div>
</div>

<div class="uk-container uk-padding" style="background-color: #9a74a10e;">
    <div class="uk-child-width-1-2@l uk-grid">
        <div class="uk-margin-small">
            <img style="border-radius: 20px;" src="/onda/imagens/acesso.png" alt="acesso ao conteudo" uk-scrollspy="cls: uk-animation-slide-left; delay:900">
        </div>
        <div class="uk-card" uk-scrollspy="cls: uk-animation-slide-bottom">
            <h4 class="uk-margin-small-top title" style="color: #094268; font-size: 30px; font-weight: bold;">Acesso exclusivo a conteúdos sobre saúde mental e produtividade</h4>
            <p style="font-size: 16px; color: #0067A3;">Acesso exclusivo a conteúdos sobre saúde mental e produtividade Tenha acesso a materiais cuidadosamente desenvolvidos para apoiar seu bem-estar emocional e melhorar seu desempenho no dia a dia.</p>
            <p style="font-size: 16px; color: #0067A3;">Mais do que informação, oferecemos inspiração e apoio contínuo para que você se sinta fortalecido(a) na sua jornada pessoal e profissional.</p>
            <a href="" class="uk-button" style="background-color: #9A74A1; color: white;  font-size: 12.8px; padding: 8px 24px; border-radius: 20px;" uk-scrollspy="cls: uk-animation-slide-bottom">Fazer parte da comunidade</a>
        </div>
    </div>
</div>

<div class="uk-container uk-padding uk-margin-large-bottom" style="background-color: #0942680e;">
    <div class="uk-child-width-1-2@l uk-grid">
        <div class="uk-card" uk-scrollspy="cls: uk-animation-slide-bottom">
            <h4 class="uk-margin-small-top title" style="color: #094268; font-size: 30px; font-weight: bold;">Saídas em grupo e acampamentos para reconexão e bem-estar</h4>
            <p style="font-size: 16px; color: #0067A3;">Vivências ao ar livre que promovem pausa, presença e reconexão consigo mesmo e com os outros. Nossos encontros em grupo e acampamentos são momentos para respirar, desacelerar e fortalecer vínculos por meio da natureza, da escuta e da partilha verdadeira.</p>
            <p style="font-size: 16px; color: #0067A3;">Mais do que simples eventos, são experiências transformadoras que unem autocuidado, convivência e leveza.</p>
            <a href="" class="uk-button" style="background-color: #9A74A1; color: white;  font-size: 12.8px; padding: 8px 24px; border-radius: 20px;" uk-scrollspy="cls: uk-animation-slide-bottom">Fazer parte da comunidade</a>
        </div>
        <div class="uk-margin-small">
            <img style="border-radius: 20px;" src="/onda/imagens/saida.png" alt="saida ao ar livre" uk-scrollspy="cls: uk-animation-slide-right; delay:900">
        </div>
    </div>
</div>

<app-footer></app-footer>