<div style="padding-top: 80px;" class="back uk-text-center uk-flex uk-flex-column uk-flex-middle">
  <h1 class="gradient-text"  style="font-size: 60px; font-weight: 600; margin: 5px;">
    Sua Saúde Mental no Trabalho <br> Importa
  </h1>
  <p style="font-size: 18px; margin: 5px; color: #2B2B2B;">
    Descubra ferramentas e recursos para melhorar seu bem-estar, <br>
    aumentar sua produtividade e encontrar equilíbrio na vida <br>
    profissional.
  </p>

  <div class="uk-margin-top">
    <div class="uk-flex uk-flex-middle">
      <button class="uk-button uk-button-pri" style="border-radius: 10px; background-color: #094268; color: white; font-size: 14px; font-weight: 500;">
      Comece com treinamento
    </button>
    <button class="uk-button uk-button-seg uk-margin-small-left" style="border: solid 1px rgba(207, 207, 207, 0.605); border-radius: 10px; background-color: white; color: #094268; font-size: 14px; font-weight: 500;">
      Conhecer nossos Workshops
    </button>
    </div>
  </div>

  <!-- GRID -->
  <div class="uk-child-width-1-1@s uk-child-width-1-3@m uk-grid uk-grid-match uk-margin-large-top uk-grid" style="max-width: 900px;">
    <div>
      <div class="uk-card uk-card-body uk-card-default" style="border-radius: 20px; background-color: #f4fbff; padding: 30px 15px 30px 15px;">
        <img width="64" src="imagens/insurance.svg" alt="insurance">
        <h3 style="font-size: 15px; font-weight: 400; margin: 5px !important; color: #094268;">Bem-estar Protegido</h3>
        <p style="font-size: 13px; margin: 5px; color: #2B2B2B;">Estratégias comprovadas para manter sua saúde mental em dia</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-card-default" style="border-radius: 20px; background-color: #f4fbff; padding: 30px 15px 30px 15px;">
        <img src="imagens/bolt.png" width="64" alt="bolt">
        <h3 style="font-size: 15px; font-weight: 400; margin: 5px !important; color: #094268;">Produtividade Saudável</h3>
        <p style="font-size: 13px; margin: 5px; color: #2B2B2B;">Aumente sua eficiência sem comprometer seu bem-estar</p>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-body uk-card-default" style="border-radius: 20px; background-color: #f4fbff; padding: 30px 15px 30px 15px;">
        <img src="imagens/Users.png" alt="users">
        <h3 style="font-size: 15px; font-weight: 400; margin: 5px !important; color: #094268;">Apoio Comunitário</h3>
        <p style="font-size: 13px; margin: 5px; color: #2B2B2B;">Você não está sozinho nesta jornada de autoconhecimento</p>
      </div>
    </div>
  </div>

  <!-- SETA ANIMADA -->
  <div class="">
    <span uk-icon="icon: chevron-down; ratio: 2" class="arrow-down"></span>
  </div>
</div>

<!--
<div class="uk-container space-top">
  <div class="uk-visible-toggle uk-position-relative" tabindex="-1" uk-slideshow="autoplay: true;">
    <div class="uk-slideshow-items">
      <div>
        <div  class="telas-menores uk-child-width-1-2@l uk-child-width-1-2@l uk-flex uk-grind">
          <div>
            <div class="circle-lilas uk-text-center">
              <p class="uk-margin-medium-top" style="color: #3E2E40; font-size: 19px; margin-bottom: 0 !important; font-weight: 400;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:1200; repeat: true" >Melhore a sua Saúde</p>
              <p class="destaque" style="font-size: clamp(24px, 4vw, 57px); color: #9A74A1;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:900; repeat: true">Mental</p>
              <p class="decric" style="font-size: 14px; color: #3E2E40; margin-top: 0; font-weight: 300;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:600; repeat: true">Sua saúde mental afeta tudo: produtividade, relacionamentos e qualidade de vida. Este treinamento oferece ferramentas simples e eficazes para você</p>
              <a [routerLink]="['/sobre']"  class="uk-button uk-button-small" style="border-radius: 20px; background-color: #9A74A1; font-size: 14px; color: #EBE3EC; padding: 8px 24px;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:300; repeat: true">Saiba mais <span class="uk-icon" uk-icon="icon : arrow-right"></span> </a>
              </div>
            </div>
          <div>
            <img src="imagens/mulher_capa.webp" width="100%" height="auto" style="opacity: 1;" class="uk-align-center" alt="capa feminina" uk-scrollspy="cls: uk-animation-slide-right; delay:150; repeat: true">
          </div>
        </div>
     </div>

      <div>
        <div  class="telas-menores uk-child-width-1-2@l uk-child-width-1-2@l uk-flex">
          <div>
            <div class="circle-blu uk-text-center">
              <p class="uk-margin-medium-top" style="color: #072132; font-size: 19px; margin-bottom: 0 !important; font-weight: 400" uk-scrollspy="cls: uk-animation-slide-top; delay: 1200; repeat: true">Melhore a sua</p>
              <p style="font-size: clamp(24px, 4vw, 57px); color: #0067A3;" uk-scrollspy="cls: uk-animation-slide-left; delay: 900; repeat: true">Produtividade</p>
              <p style="font-size: 14px; color: #072132; margin-top: 0 !important; font-weight: 300" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600; repeat: true">Trabalhe melhor, sem estresse descubra como uma mente equilibrada é o segredo para produtividade sustentável</p>
              <div><a href="#" class="button uk-button uk-button-small" style="border-radius: 20px; background-color: #0067A3; font-size: 14px; color: #EBE3EC; padding: 8px 24px;" uk-scrollspy="cls: uk-animation-slide-right; delay: 300; repeat: true">Saiba mais <span class="uk-icon" uk-icon="icon : arrow-right"></span></a></div>
            </div>
          </div>
          <div>
            <img src="imagens/capa_homem.webp" width="100%" height="auto" style="opacity: 1;" class="uk-align-center" alt="capa homem" uk-scrollspy="cls: uk-animation-slide-right; delay: 150; repeat: true">
          </div>
        </div>
      </div>
    </div>

    <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small" href uk-slidenav-next uk-slideshow-item="next"></a>
  </div>
</div>
-->