.circle {
  width: 320px;
  height: 320px;
  background-color: #ebe3ec9a;
  aspect-ratio: 1 / 1; /* mantém proporção 1:1 (sempre um círculo) */
  border-radius: 50%;
  margin-top: 8rem;
  overflow: hidden;
  padding: 20px;
}
.circle-blu {
  width: 320px;
  height: 320px;
  background-color: #d3edfe4b !important;
  aspect-ratio: 1 / 1; /* mantém proporção 1:1 (sempre um círculo) */
  border-radius: 50%;
  margin-top: 8rem;
  overflow: hidden;
  padding: 20px;
}

.uk-slidenav-previous, .uk-slidenav-next {
    color : #9B73A3 !important;
}

button:hover{
  background-color: #00A6FB !important;
  color: #EBE3EC !important;
}

.button:hover{
  background-color: #9A74A1 !important;
  color: #EBE3EC !important;
}

