.uk-card {
  border-radius: 20px;
  transition: all 0.3s ease;
}

.uk-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
.uk-button-pri{
  transition: all 0.3s ease;
}
.uk-button-seg{
  transition: all 0.3s ease;
}

.uk-button-seg:hover{
  transform: scale(1.09);
  background-color: #094268 !important;
  color: white !important;
}

.uk-button-pri:hover{
  transform: scale(1.09);
  background-color: #9B73A3 !important;
}

.back{
    background: linear-gradient(to right, #f4fbff, #9a74a10e);
}

.gradient-text{
  background: linear-gradient(to right, #094268, #9B73A3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; /* para navegadores modernos */
  color: transparent;
}

.arrow-down {
  display: inline-block;
  color: #094268;
  animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.5;
  }
}