<div class="uk-container space-top">
  <div class="uk-visible-toggle" tabindex="-1" uk-slideshow="autoplay: true;">
  <div class="uk-slideshow-items">
    <div>
      <div  class="telas-menores uk-child-width-1-2@l uk-child-width-1-2@l uk-flex uk-grind">
        <div>
          <div class="circle uk-text-center">
          <p class="uk-margin-medium-top" style="color: #3E2E40; font-size: 19px; margin-bottom: 0 !important;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:1200; repeat: true" >Melhore a sua Saúde</p>
          <p class="destaque" style="font-size: clamp(24px, 4vw, 57px); color: #9A74A1;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:900; repeat: true">Mental</p>
          <p style="font-size: 14px; color: #3E2E40; margin-top: 0;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:600; repeat: true">Sua saúde mental afeta tudo: produtividade, relacionamentos e qualidade de vida. Este treinamento oferece ferramentas simples e eficazes para você</p>
          <button class="uk-button uk-button-small" style="border-radius: 20px; background-color: #9A74A1; font-size: 10px; color: #EBE3EC;" uk-scrollspy="cls: uk-animation-slide-bottom; delay:300; repeat: true">Saiba mais <span class="uk-icon" uk-icon="icon : arrow-right"></span> </button>
          </div>
        </div>
        <div>
          <img src="imagens/mulher-capa.webp" class="uk-align-center" alt="capa feminina" uk-scrollspy="cls: uk-animation-slide-right; delay:150; repeat: true">
        </div>
      </div>
    </div>

    <div>
      <div  class="telas-menores uk-child-width-1-2@l uk-child-width-1-2@l uk-flex">
        <div>
          <div class="circle-blu uk-text-center">
          <p class="uk-margin-medium-top" style="color: #072132; font-size: 19px; margin-bottom: 0 !important;" uk-scrollspy="cls: uk-animation-slide-top; delay: 1200; repeat: true">Melhore a sua</p>
          <p style="font-size: clamp(24px, 4vw, 57px); color: #24A7F8;" uk-scrollspy="cls: uk-animation-slide-left; delay: 900; repeat: true">Produtividade</p>
          <p style="font-size: 14px; color: #072132; margin-top: 0 !important;" uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600; repeat: true">Trabalhe melhor, sem estresse descubra como uma mente equilibrada é o segredo para produtividade sustentável</p>
          <div><button class="button uk-button uk-button-small" style="border-radius: 20px; background-color: #1D86C6; font-size: 10px; color: #EBE3EC;" uk-scrollspy="cls: uk-animation-slide-right; delay: 300; repeat: true">Saiba mais <span class="uk-icon" uk-icon="icon : arrow-right"></span></button></div>
          </div>
        </div>
        <div>
          <img src="imagens/capa_homem.webp" class="uk-align-center" alt="capa homem" uk-scrollspy="cls: uk-animation-slide-right; delay: 150; repeat: true">
        </div>
      </div>
    </div>
  </div>

  <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small" href uk-slidenav-next uk-slideshow-item="next"></a>
  <a href uk-slideshow-item="next"></a>
</div>
</div>