.circle {
  width: 384px;
  height: 393px;
  background-color: #c8a2c821;
  aspect-ratio: 1 / 1; /* mantém proporção 1:1 (sempre um círculo) */
  border-radius: 50%;
  margin-top: 250px;
  margin-left: 186.79px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; /* para o texto não colar nas bordas */
  box-sizing: border-box;
}

.circle-blu {
  width: 384px;
  height: 393px;
  background-color: #c8a2c821;
  border-radius: 50%;
  margin-top: 350px;
  margin-left: 166.79px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px; /* para o texto não colar nas bordas */
  box-sizing: border-box;
}

.uk-slidenav-previous, .uk-slidenav-next {
    color : #9B73A3 !important;
}

button:hover{
  background-color: #00A6FB !important;
  color: white !important;
}
