<div class="uk-position-relative uk-visible-toggle" tabindex="-1" uk-slideshow="autoplay: true;">
  <div class="uk-slideshow-items">

    <!-- Slide 1 -->
    <div style="position: relative; min-height: 100vh;">
      <div class="uk-child-width-1-2@l uk-grid">
        <div class="circle" style="z-index: 2; position: relative;">
          <p style="color:#553855; font-size: 1.1875rem;" class="uk-margin-small-top" 
            uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900; repeat: true">
            Melhore sua
          </p>

          <p style="font-weight: bold; color: #9B73A3; font-size: 3.5625rem; margin: 0;" 
            uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600; repeat: true">
            Mental
          </p>

          <p style="font-size: 0.875rem; color: #553855; margin: 10px 0 0;" 
            uk-scrollspy="cls: uk-animation-slide-bottom; delay: 300; repeat: true">
            Sua saúde mental afeta tudo: produtividade, relacionamentos e qualidade de vida. 
            Este treinamento oferece ferramentas simples e eficazes para você
          </p>

          <button class="uk-margin-large-top uk-button"
            uk-scrollspy="cls: uk-animation-slide-bottom; delay: 150; repeat: true"
            style="font-size: 0.875rem; background-color: #C8A2C8; border-radius: 20px; color: #553855;">
            Saiba mais
          </button>
        </div>
      </div>
      <div 
        uk-scrollspy="cls: uk-animation-fade; delay: 1000; repeat: true"
        style="
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 55vw;
          z-index: 1;
        ">
        <img src="imagens/capa_feminina.png" alt="capa mulher" style="width: 100%; height: auto;">
      </div>
    </div>

    <!-- Slide 2 -->
    <div style="position: relative; min-height: 100vh;">
      <div class="uk-child-width-1-2@l uk-grid">
        <div class="circle" style="z-index: 2; position: relative;">
          <p style="color:#553855; font-size: 1.1875rem;" class="uk-margin-small-top" 
            uk-scrollspy="cls: uk-animation-slide-bottom; delay: 900; repeat: true">
            Melhore sua
          </p>

          <p style="font-weight: bold; color: #9B73A3; font-size: 3.5625rem; margin: 0;" 
            uk-scrollspy="cls: uk-animation-slide-bottom; delay: 600; repeat: true">
            Mental
          </p>

          <p style="font-size: 0.875rem; color: #553855; margin: 10px 0 0;" 
            uk-scrollspy="cls: uk-animation-slide-bottom; delay: 300; repeat: true">
            Sua saúde mental afeta tudo: produtividade, relacionamentos e qualidade de vida. 
            Este treinamento oferece ferramentas simples e eficazes para você
          </p>

          <button class="uk-margin-large-top uk-button"
            uk-scrollspy="cls: uk-animation-slide-bottom; delay: 150; repeat: true"
            style="font-size: 0.875rem; background-color: #C8A2C8; border-radius: 20px; color: #553855;">
            Saiba mais
          </button>
        </div>
      </div>
      <div 
        uk-scrollspy="cls: uk-animation-fade; delay: 1000; repeat: true"
        style="
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 40vw;
          z-index: 1;
        ">
        <img src="imagens/capa_homem.png" alt="capa mulher" style="width: 100%; height: auto;">
      </div>
    </div>

  </div>

  <!-- Navigation -->
  <a class="uk-position-center-left uk-position-small" href uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small" href uk-slidenav-next uk-slideshow-item="next"></a>
</div>
