{{define "subject"}} Recebemos os seus email {{end}}

{{define "body"}}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body> <p>Hi {{.Name}},</p>
  <p>Recebemos o seu email e entraremos em contacto brevemente</p>
  <p>Team onda branca</p>
  </body>
</html>

{{end}}